vcf-month-picker {
  --vcf-month-picker-font-family: var(--lumo-font-family);
  --vcf-month-picker-font-size: var(--lumo-font-size-m);
  --vcf-month-picker-icons-font-family: 'lumo-icons';
  --vcf-month-picker-toggle-calendar-icon: var(--lumo-icons-calendar);
  --vcf-month-picker-icon-size: var(--lumo-icon-size-m);

  box-sizing: border-box;
  font-family: var(--vcf-month-picker-font-family);
  font-size: var(--vcf-month-picker-font-size);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

vcf-month-picker[readonly] {
  pointer-events: none;
}

vcf-month-picker .toggle-button {
  font-size: var(--vcf-month-picker-icon-size);
  text-align: center;
  color: var(--lumo-contrast-60pct);
  transition: 0.2s color;
  cursor: var(--lumo-clickable-cursor);
}

vcf-month-picker .toggle-button::before {
  display: block;
  font-family: var(--vcf-month-picker-icons-font-family);
  content: var(--vcf-month-picker-toggle-calendar-icon);
}

vcf-month-picker .toggle-button:hover {
  color: var(--lumo-body-text-color);
}

vcf-month-picker[readonly] .toggle-button {
  color: var(--lumo-contrast-20pct);
  cursor: default;
}

vcf-month-picker vaadin-popover::part(content) {
  padding: var(--lumo-space-s);
}

vcf-month-picker-calendar {
  --vcf-month-picker-calendar-font-family: var(--lumo-font-family);
  --vcf-month-picker-calendar-font-size: var(--lumo-font-size-m);
  --vcf-month-picker-calendar-icons-font-family: 'lumo-icons';
  --vcf-month-picker-calendar-prev-year-icon: var(--lumo-icons-chevron-left);
  --vcf-month-picker-calendar-next-year-icon: var(--lumo-icons-chevron-right);
  --vcf-month-picker-calendar-icon-size: var(--lumo-icon-size-m);

  box-sizing: border-box;
  font-family: var(--vcf-month-picker-calendar-font-family);
  font-size: var(--vcf-month-picker-calendar-font-size);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --_focus-ring-color: var(
    --vaadin-focus-ring-color,
    var(--lumo-primary-color-50pct)
  );
  --_focus-ring-width: var(--vaadin-focus-ring-width, 2px);
}

vcf-month-picker-calendar::part(header) {
  padding-bottom: var(--lumo-space-s);
  font-size: var(--lumo-font-size-l);
  font-weight: 500;
  line-height: 1;
}

vcf-month-picker-calendar::part(month-grid) {
  gap: var(--lumo-space-xs);
}

vcf-month-picker-calendar::part(month) {
  border-radius: var(--lumo-border-radius-m);
  --_month-button-height: var(--lumo-size-m);
}

vcf-month-picker-calendar::part(month):hover {
  background-color: var(--lumo-primary-color-10pct);
}

vcf-month-picker-calendar::part(month):focus {
  box-shadow: 0 0 0 1px var(--lumo-base-color),
    0 0 0 calc(var(--_focus-ring-width) + 1px) var(--_focus-ring-color);
}

vcf-month-picker-calendar::part(selected-month) {
  color: var(--lumo-base-color);
  font-weight: 600;
  background-color: var(--lumo-primary-color);
}

vcf-month-picker-calendar::part(disabled-month) {
  color: var(--lumo-disabled-text-color);
}

vcf-month-picker-calendar > vaadin-button {
  margin: 0;
  padding: 0;
  min-width: auto;
  background-color: transparent;
  font-size: var(--lumo-font-size-s);
  height: var(--lumo-size-m);
  width: var(--lumo-size-m);
}

vcf-month-picker-calendar > vaadin-button:hover {
  background-color: var(--lumo-primary-color-10pct);
}

vcf-month-picker-calendar > vaadin-button::part(label) {
  padding: 0;
  font-family: var(--vcf-month-picker-calendar-icons-font-family);
  font-size: calc(var(--vcf-month-picker-calendar-icon-size) * 1.25);
}

vcf-month-picker-calendar > vaadin-button::part(label)::before {
  cursor: var(--lumo-clickable-cursor);
}

vcf-month-picker-calendar > vaadin-button[slot^='prev']::part(label)::before {
  content: var(--vcf-month-picker-calendar-prev-year-icon);
}

vcf-month-picker-calendar > vaadin-button[slot^='next']::part(label)::before {
  content: var(--vcf-month-picker-calendar-next-year-icon);
}
